<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BlogPost Application</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<header class="header"><strong>Blog Application</strong></header>
<nav class="topnav">
    <a th:href="@{/signIn}" method=>SignIn</a>
    <a th:href="@{/register}" method=>Register</a>
    <a th:href="@{/addPost}" method=>Add New Post</a>
</nav>
<aside class="sidenav">aside</aside>
<section class="section"><div>section2
</div>section</section>
<footer class="footer"></footer>
</body>
</html>